#myCarousel{
    background-image: url(../images/20151028011953301.jpg);
    background-size: cover;
}
#myCarousel .one{
    min-width: 24%;
}
#myCarousel .two{
    padding-top: 30px;
    width: 513px;
    max-width: 100%;
}
#myCarousel .three{
    min-width: 38%;
}
#myCarousel .carousel-indicators{
    left: 43%;
    position: relative !important;
    margin-top: 40px !important;
    /*margin: 0 auto !important;*/
    /*text-align: center !important;*/
}
#myCarousel .left{
    float: left;    
}
#myCarousel .item > div{
    padding: 10px;
}
#myCarousel .left label{
    color:#ffaf00;
    cursor: pointer;
}
#myCarousel .left p{
    max-width: 350px;
    color: white;
    font-style: italic;
    font-size: 17px;
}

#myCarousel, #myCarousel div,#myCarousel ol{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
#myCarousel .item img{
    width: 100%;
}
#myCarousel .item .title{
    display: table;
    table-layout: fixed;
    position: relative;
    color: white;
    font-size: 25px;
    font-weight: bold;
    word-wrap: break-word;
}
#myCarousel .item .title:after{
    content: '';
    display: block;
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    height: 1.5px;
    background: #fff;
    width: 50vw;
    left: calc(100% + 25px);
}
#myCarousel .item .img{
    width: 135px;
}
#myCarousel .item .img img{
    width: 100%;
    height: auto;
}
#myCarousel .item .text{
    float: right;
    padding-right: 0;
}
@media screen and (max-width: 736px){
    #myCarousel .item img{
        width: 100px;
    }
    #myCarousel .one,#myCarousel .three{
        width: 100%;
        display: none;
    }
    #myCarousel .two{
        max-width: 92%!important;
        float: none;
        margin: 0 auto ;
    }
}

@media screen and (max-width: 640px){
    #myCarousel .item img{
        width: 100px;
    }
    #myCarousel .item .text{
        float: left;
    }
}
@media screen and (max-width: 550px){
     #myCarousel .item img{
        width: 100px!important;
    }
    #myCarousel .item .left,#myCarousel .item .text{
        float: none;
        width: 100%;
    }
    #myCarousel .item .text p{
        max-width: 100%;
    }
}
